body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.chat-popup {
  display: none;
  flex-direction: column;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #3498db;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chat-title {
  font-weight: bold;
}

.chat-close {
  cursor: pointer;
}

.chat-content {
  padding: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.chat-icon {
  position: fixed;
  bottom: 15px; /* Adjust this value to create space */
  right: 325px;
  font-size: 24px;
  background-color: #3498db;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-message {
  padding: 5px;
  margin-bottom: 10px;
}

.bot-message {
  background-color: #f0f0f0;
  border-radius: 5px;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;
}

#user-input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#send-btn {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute; /* Add this line */
  right: 10px; /* Add this line */
  top: 50%; /* Add this line */
  transform: translateY(-50%);
}
